@page "/produtos/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUD.App.Data
@inject IDbContextFactory<Blazor_CRUD.App.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Remover Produto</PageTitle>

<h1>

    <img src="32officeicons-3_89720.png" alt="Remover Produto" height="40" width="40" />

</h1>

<p>Deseja mesmo remover esse produto?</p>
<div>
  
    <hr />
    @if (produtos is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <div class="card shadow-lg mb-4">
            <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Remover Produto</h5>
                @if (produtos.Foto == null)
                {
                    <img src="SemFoto.png" alt="Foto do produto" class="img-thumbnail" style="max-width: 80px;" />
                }
                else
                {
                    <img src="@produtos.Foto" alt="Foto do produto" class="img-thumbnail" style="max-width: 80px;" />
                }
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">Cód. Barras:</dt>
                    <dd class="col-sm-10">@produtos.Cod_Barras</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Descrição:</dt>
                    <dd class="col-sm-10">@produtos.Descricao</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Categoria:</dt>
                    <dd class="col-sm-10">@produtos.Id_categoria</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Un. Medida:</dt>
                    <dd class="col-sm-10">@produtos.Un_Medida</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Quantidade:</dt>
                    <dd class="col-sm-10">@produtos.Quantidade</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Fornecedor:</dt>
                    <dd class="col-sm-10">@produtos.Id_fornecedor</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Peso Médio:</dt>
                    <dd class="col-sm-10">@produtos.Peso_Medio</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Peso Bruto:</dt>
                    <dd class="col-sm-10">@produtos.Peso_bruto</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Vl Compra:</dt>
                    <dd class="col-sm-10">@produtos.Valor_Compra</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Margem de Lucro:</dt>
                    <dd class="col-sm-10">@produtos.Margem_Lucro</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Vl. Venda:</dt>
                    <dd class="col-sm-10">@produtos.Valor_Venda</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Estoque Mínimo:</dt>
                    <dd class="col-sm-10">@produtos.estoque_min</dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-2">Estoque Máximo:</dt>
                    <dd class="col-sm-10">@produtos.estoque_max</dd>
                </dl>
            </div>
            <div class="card-footer text-end">
                <EditForm method="post" Model="produtos" OnValidSubmit="DeleteProdutos" FormName="delete" Enhance>
                    <button type="submit" class="btn me-3" disabled="@(produtos == null)" title="Remover">
                        <img src="32officeicons-3_89720.png" alt="Remover produto" height="30" width="30" />                       
                    </button>
                    <a href="/produtos" class="btn" title="Voltar para a Lista">
                        <img src="go-back256_24856.png" alt="Voltar para a Lista" height="30" width="30" />
                    </a>
                </EditForm>
              
            </div>
        </div>


    }
</div>

@code {
    private Produtos? produtos;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        produtos = await context.Produtos.FirstOrDefaultAsync(m => m.Id == Id);

        if (produtos is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProdutos()
    {
        using var context = DbFactory.CreateDbContext();
        context.Produtos.Remove(produtos!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/produtos");
    }
}
